@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;
  word-wrap: break-word;
}

.react-json-view {
  word-break: break-word;
}

.react-json {
  font-size: 1.5em !important;
}

.object-key {
  color: #00b5ad !important;
  font-weight: 800;
}

#db-window {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 360px 4fr;
  grid-gap: 0;
}

#collections-view {
  background: #f7f9f9;
  height: auto;
}

.collections-header {
  width: 100%;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.02em;
  border-bottom: 1px #e8ebe4 solid;
  text-indent: 20px;
  padding: 15px 0;
  background-color: #00b5ad;
}

.collections {
  width: 100%;
  font-size: 15px;
  height: 15px;
  line-height: 15px;
  list-style-type: none;
}

.collection {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  height: 50px;
  line-height: 32px;
  list-style-type: none;
  text-indent: 20px;
  border-bottom: 1px #e8ebe4 solid;
  cursor: pointer;
}

.collection:hover {
  background-color: #00b5ad;
  color: #fff;
}

#documents-view {
  background: #fff;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.doc {
  height: auto;
  padding-bottom: 33.33%;
  border: solid 1px black;
  display: block;
  font-size: 10px;
  text-align: center;
  position: relative;
}

.inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.grid-item {
  grid-column-start: auto;
  grid-row-start: auto;
  border-left: solid 1px black;
}

.menu {
  width: 100%;
  position: relative;
  /* sets positioning context */
}

.menu > li > .submenu {
  width: 325.25px;
  display: none;
}

.menu > li:hover > .submenu {
  display: block;
}

.submenu {
  position: absolute;
  top: 0;
  left: 325.25px;
  /* width of top level li */
  list-style: none;
}

.menu > li {
  color: #fff;
  background: #38c6a6;
  width: 100%;
}

.submenu > li {
  background: #66d699;
  border-bottom: 1px #e8ebe4 solid;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  height: 50px;
  line-height: 32px;
  list-style-type: none;
  text-indent: 20px;
  border-bottom: 1px #e8ebe4 solid;
  cursor: pointer;
}

.submenu > li > .submenu > li {
  background: #94e48a;
}

#modal {
  margin-top: -300px;
}
#landing {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/577210/pexels-photo-577210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=940");
}

#landing-text {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text1 {
  font-size: 4.5rem;
}

#text2 {
  font-size: 2.5rem;
}
#button {
  margin: 2%;
  border: 1px solid grey;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 1px 0.5px 1px 1px lightgray;
  padding: 1rem;
  background: white;
}
