@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}

.wrap {
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 10px;
}

.doc {
    height: auto;
    padding-bottom: 33.33%;
    border: solid 1px black;
    display: block;
    font-size: 10px;
    text-align: center;
    position: relative;
}

.inner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

div.custom-container {
    background-color: #fff;
    width: 100vw;
    height: auto;
    /* border: black solid 1px; */
    position: relative;
}

svg.custom {
    position: absolute;
    top: 50%;
}

svg.custom .node circle {
    width: 10px;

    height: 10px;
	fill: rgb(0, 199, 255);
}

svg.custom .node text {
    font-size: 0.4rem;
    background-color: #fff;
    fill: #222;
    text-align: center;
    /* transform: translate(14px, 30px) rotate(-90deg); */
    display: table; /* keep the background color wrapped tight */
    background: white;
    text-transform: uppercase;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {    
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    stroke-dasharray: 1, 5;
    stroke-dashoffset: 120; 
    animation: dash 17s infinite linear;
}



@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }